

.container {
    background-color: transparent;
    width: 80vw;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightblue;
    position: relative;
}

.task-tabs div{
    padding: 1.0em;
    cursor: pointer;
}

#under-line {
    height: 5px;
    background-color: rgb(219, 136, 214);
    position: absolute;
    width: 70px;
    left:  0px;
    top: 53px;
    padding: 0px;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;
}